.body{
  display: flex;
  justify-content: center;
  height:100% ;
  align-items:center ;
  background-color:#f5f5f5f5 ;
}
.login{
  width: 50%;
  max-width: 330px;
  text-align: center;
}
.ancho{
  width: 80%;
}
.button{
  height: 50px;
}

.spinner{
  margin: 0 auto;
}
